In [5]:
# 1>> Convert an integer to a floating-point number.

a = 8

b = float(a)

print(b)

print(type(b))

8.0
<class 'float'>

In [7]:
# 2>> Convert a float to an integer.

num1 = 7.5

num2 = int(num1)

print(num2)

print(type(num2))

7
<class 'int'>

In [8]:
# 3>>  Convert an integer to a string.

x = 6

y = str(x)

print(y)

print(type(y))

6
<class 'str'>

In [9]:
# 4>>  Convert a list to a tuple.

lis = [2,5,6.2,"pwskills",True]

t = tuple(lis)

print(t)

print(type(t))

(2, 5, 6.2, 'pwskills', True)
<class 'tuple'>

In [10]:
# 5>>  Convert a tuple to a list.

my_tuple = (2,6,10)

my_lis = list(my_tuple)

print(my_lis)

print(type(my_lis))

[2, 6, 10]
<class 'list'>

In [22]:
 # 6>> Convert a decimal number to binary.
    
x = 8

y = bin(x)

print(y)

print(type(y))

0b1000
<class 'str'>

In [18]:
# 7>>   Convert a non-zero number to boolean.

a = 6

b = bool(a)

print(b)

print(type(b))

True
<class 'bool'>